prompt-toolkit==2.0.10
scapy==2.4.5
wcwidth==0.2.5
netifaces==0.11.0
sslstrip==0.9.2
setuptools==44.0.0
pyOpenSSL==18.0.0
cryptography==3.2.0
# Before installing run: sudo apt-get install python-dev libssl-dev